.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1440px;
    height: 50px;
    max-width: 100%;
    /* 限制圖片寬度，以避免超出容器 */
    background: #023047;
    color: rgb(255, 255, 255);
  }
  
  .introduction {
    display: flex;
      justify-content: space-between;
  }

  .main-photo {
    margin: auto;
      padding: 20px;
      width: 300px;
  }

  .category-container {
      display: flex;
      justify-content: space-between;
  }
  
  .category-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* 讓所有子元素上對齊 */
      margin: 5px;
      padding: 5px;
      gap: 1px;
  }

  .card-list {
    display: inline-flex;
    flex-direction: column;
  }
  
  .category {
      border: 3px solid #023047;
      display: inline-flex;
      flex-direction: column;
      padding: 20px;
      margin: auto;
      cursor: pointer; /* 指示可點擊 */
      border-radius: 5%;
      color:#000000;
      /* background-color: #023047; 背景色 */
  }
  
  .category-image {
      margin: auto;
      padding: 20px;
      width: 300px;
  }
    
  /* .category-image img {
      max-width: 100%;
      height: auto;
  } */
  
  .newest-article {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
    /* padding: 20px; */
    gap: 10px;
  }
  
  .article1 {
      display: flex;
      /* justify-content: space-between; */
      flex-direction: column;
      background-color: transparent;
      color: #000000;
      cursor: pointer;
    }

    .article2 {
      display: flex;
      /* justify-content: space-between; */
      flex-direction: column;
      background-color: transparent;
      color: #000000;
      cursor: pointer;
    }
  
    .article1:hover {
      .toolbar-list .toolbar-item {
        opacity: 1;
        transform: translateY(0%);
      }

      .article-image {
          opacity: 0.6;
        }
        
        .article-main-section .discription {
          opacity: 1;
          bottom: 20%;
        }
    }

    .article2:hover {
      .toolbar-list .toolbar-item {
        opacity: 1;
        transform: translateY(0%);
      }

      .article-image2 {
          opacity: 0.6;
        }
        
        .article-main-section2 .discription2 {
          opacity: 1;
          bottom: 20%;
        }
    }
    
    .article3:hover {
      .toolbar-list .toolbar-item {
        opacity: 1;
        transform: translateY(0%);
      }

      .article-image3 {
          opacity: 0.6;
        }
        
        .article-main-section3 .discription3 {
          opacity: 1;
          bottom: 20%;
        }
    }
  
      .article1 .title-section {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          letter-spacing: 1px;
          justify-content: end;
          padding-right: 8px;
        }

        .article2 .title-section2 {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          letter-spacing: 1px;
          justify-content: end;
          padding-right: 8px;
        }

        .article3 .title-section3 {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          letter-spacing: 1px;
          justify-content: end;
          padding-right: 8px;
        }
        
        .article1 .article-image {
          width: 560px;
          border-radius: 10px;
          transition: all 0.3s ease;
        }

        .article2 .article-image2 {
          width: 560px;
          border-radius: 10px;
          transition: all 0.3s ease;
        }

        .article3 .article-image3 {
          width: 560px;
          border-radius: 10px;
          transition: all 0.3s ease;
        }
        
        
        .article1 .article-main-section {
          position: relative;
        }

        .article2 .article-main-section2 {
          position: relative;
        }

        .article3 .article-main-section3 {
          position: relative;
        }
        
        .article1 .article-main-section .discription {
          position: absolute;
          bottom: 25%;
          left: 20px;
          width: 480px;
          color: #ffffff;
          line-height: 1.3;
          opacity: 0;
          transition: all 0.3s ease;
        }
  
        .article2 .article-main-section2 .discription2 {
          position: absolute;
          bottom: 25%;
          left: 20px;
          width: 480px;
          color: #ffffff;
          line-height: 1.3;
          opacity: 0;
          transition: all 0.3s ease;
        }

        .article3 .article-main-section3 .discription3 {
          position: absolute;
          bottom: 25%;
          left: 20px;
          width: 480px;
          color: #ffffff;
          line-height: 1.3;
          opacity: 0;
          transition: all 0.3s ease;
        }

  .photo-gallery {
      display: flex;
      overflow: hidden;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
      /* padding: 20px; */
      height: 350px;
      gap: 5px;
      max-width: 100%;
      background: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
  }
  
  hr {
    border-color:#023047;
    border-width: 2px;
    margin: 20px;
  }